body {
    background-image: url(./oi.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 200px;
  }
  
  p {
    font-size: 30px;
    font-weight: bold;
  }
  
  button {
    background-color: red;
    color: white;
    width: 100px;
    position: absolute;
  }
  
  .hidden {
    display:none;
  }
  
  #move {
    left: 200px;
  }
  
  #change:hover {
    cursor:pointer;
  }

  @media screen and (max-widht: 785px){
     p {
        font-size: 30px;
     }

     button {
        font-size: 30px;
        
     }

  }  
